//color palette
$light-grey: #f4f6ff;
$danger: #FD7279;
$purple: #4D53D9;
$light-purple: #787edf;
$pink: #CD45A2;
$shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

/* theme color */
$--color-primary: $light-purple;
/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';
@import "~element-ui/packages/theme-chalk/src/index";